
<div class="box-shadow-div container my-5">

  <header class=" p-3">
    <div class="d-flex justify-content-between align-items-center"> 
      <h1>Kali</h1>
  
      <div class="d-flex align-items-center ">
        <span class="icon-thin-long-arrow-left-icon"></span>
        <p class="ms-3">back</p>
      </div>
      <div class="cart">
        <span class="icon-bag-icon"></span>
        <span class="cart-length" *ngIf="addToCartArray.length">{{addToCartArray.length}}</span>
      </div>
    </div>
  </header>
  
  <div *ngFor="let item of arrayNewPagination" class="p-3" >
  
    <section class=" container" > 
      <div class="row" >
        
        <div class="col-md-3  d-flex flex-column justify-content-center">
    
          <div>
            <p class="title">{{item.category}}</p>
            <p class="my-3 title">{{item.title}}</p>
            <p class="rev my-4">{{item.description}}</p>
          </div>
  
          <div class="active-image d-flex align-items-end mt-5">
            <div class="div-paent-overlay" *ngFor="let img of activeImageColor   | slice:0:3 ; let index =index" alt="" role="button" (click)="getImageActive(img , index)" >
              <div [ngClass]="idImage==index?'overlay':''" class=""></div>
              <img [src]="'/assets/'+img">
            </div>
            <div class="img-length">
              <span>+{{activeImageColor.length-3}}</span>
            </div>
          </div>
    
        </div>
        <div class="col-md-6 image-height" [ngStyle]="{'background-image':'url(/assets/'+activeImage+')'}">
        </div>
        <div class="col-md-3 d-flex flex-column justify-content-center ps-5">
          <p class="price">size</p>
          <div class="d-flex size mt-3  justify-content-between" >
            <p *ngFor="let size of item.size ; let iSize = index" (click)="getSize(size,iSize)" [ngClass]="idSizeChoice==iSize?'choice-size':''" class=" numbers">
            {{size}}
            </p>
          </div>
    
          <div class="review d-flex my-4 justify-content-between">
            <P class="rev">REVIEWS</P>
            <div class="stars">
              <span *ngFor="let star of [0,1,2,3,4]" class="icon-star-empty-icon ms-2"></span>
            </div>
    
          </div>
          <div class=" d-flex my-4 justify-content-between">
            <P class="rev">PRICE</P>
              <p class="price">${{item.price}}</p>
          </div>
    
          <div class="colour my-4">
            <p class="price">COLOUR</p>
            <div class="d-flex mt-3">
              <div class="color-div me-3"  *ngFor="let color of item.colors ;let i = index" [ngClass]="activeIdColor==i?'testBorder':''">
                <div role="button" [style.backgroundColor]="color.hex" (click)="getActiveColor(color.images ,i)"></div>
              </div>
    
            </div>
          </div>
    
        </div>
      </div>
    
    </section>
    
    
    <footer class="container mt-5  ">
      <div class=" footer-background justify-content-between  align-items-center row"   >
        
    
          <div class="col-md-4 ps-5 d-flex align-items-center play-video"  >
            <span class="icon-caret-right-outline-icon"  data-bs-toggle="modal" data-bs-target="#exampleModal"></span>
            <p class="ms-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Plat Video</p>
          </div>
      
    
      <div class="col-md-4 d-flex  align-items-center justify-content-between">
      
        <div class="d-flex align-items-center">
          <span *ngFor="let icon of arrowArray" [class]="icon.icon" role="button" (click)="paginationArrows(icon.id )"></span>
        </div>
        <div class="d-flex align-items-center">
          <p>01</p>
          <div class="line mx-2" [ngClass]="idPagination==index2+1?'line-background':''" *ngFor="let item of [1,2,3] ; let index2 = index" (click)="paginationIndecators(item)" role="button"></div>
          <p>0{{dataArray.length}}</p>
        </div>
      </div>
      <div class="col-md-4 d-flex pe-5 align-items-center justify-content-end">
        <span class="icon-grey-star-15595"></span>
        <button class="me-3 " (click)="addToCart(item)">ADD TO CART</button>
        <span class="icon-heart-thin-icon" ></span>
      </div>
      </div>
    </footer>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-body">
            <iframe width="560" height="315" [src]="getSafeUrl(item.video) " frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
